[Unit]
Description=Root Partition
Before=initrd-root-fs.target
After=blockdev@dev-gpt\x2dauto\x2droot.target

[Mount]
What=/dev/gpt-auto-root
Where=/sysroot
Options=ro,nodev,suid,exec
